/*Popup content container */
#popup-content{
	background-color:#f3f3f4;
	-webkit-border-radius:3px;
	-moz-border-radius:8px;
	border-radius:3px;	
	color: black;
	display:none;
	max-width:700px;
	padding:0 10px 10px 10px;
	width:80%;
    margin-left: 60px;
}
/*Popup content heading */
#popup-content h2{
	font-size:1.2em;
	font-weight:bold;
	/*padding: 10px;*/
}
/*Popup close button positioning */
#popup-content > div + div{text-align:right;} /* div:last-child Not compatible with IE 7 IE 8  http://caniuse.com/#search=last-child */
