.yellow_hr {
    background-color: gold;
}

.blue_hr {
    background-color: #2A8BBE;
}

.brown_hr {
    background-color: #554314;
}

.green_hr {
    background-color: #18720A;
}

.red_hr {
    background-color: red;
}

.purple_hr {
    background-color: #3e2c42;
}

.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.1); }


.img-zoom {
    width: 310px;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
}
 
.transition {
    -webkit-transform: scale(2); 
    -moz-transform: scale(2);
    -o-transform: scale(2);
    transform: scale(2);
}





/* Local style for demo purpose */

.lightBoxGallery {
text-align: center;
}

.lightBoxGallery img {
margin: 5px;
}
